# Ignore any directory (folder) named as "Samples"
**/Samples/

# Complied testbench file
**/work-obj93.cf

# cpu_wavedata.vcd file
**/cpu_wavedata.vcd
**/cpu_wavedata.ghw
**/*.gtkw

# complied assembler
**/*.exe